/* *{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.container{
    margin: 50px;
    display: flex;
}


.input{
    display: flex;
}

input{
    height: 1.5em;
}

p{
    font-weight: bold;
} */
